body {
	margin: 0;
	padding: 0;
	font: normal 100%/1.5 Georgia,serif;
	background-color: #c7c0ae;
}

img {
	display: block;
	margin: 0 auto;
}

section {
	padding: 10rem 0;
}

.sun{
	width:300px;
}

.sun-section{
	background:transparent url("../img/mars-pano.jpg") no-repeat center top;
	background-size:cover;
}

.dipper{
	width:300px;
	opacity:0;
}

.js-dipper-fade{
/*Don't forget to put all the prefixes!! */
/* forwards ensures that the animation goes through and then stay the way that it ended on its last keyframe */
	-webkit-animation:dipper-fade 1s linear forwards;
}

/*Don't forget to put all the prefixes!! */

@-webkit-keyframes dipper-fade{
	0%{
		opacity:0;
	}
	100%{
		opacity:1;
	}
}

.shuttle-section{
	background-color:rgba(238,187,73,1.00);
}

.shuttle{
	width:300px;
	position:relative;
	top:10em;
	opacity:0;
}

.js-shuttle-up{
	-webkit-animation:shuttle-up 0.8s linear forwards;
}

@-webkit-keyframes shuttle-up{
	0%{
		top:10em;
		opacity:0;
	}
	
	50%{
		opacity:1;
	}
	
	100%{
		top:0;
		opacity:1;
	}
}


