body {
	margin: 0;
	padding: 0;
	font: normal 100%/1.5 Georgia,serif;
	background-color: #c7c0ae;
}

img {
	display: block;
	margin: 0 auto;
}

section {
	padding: 10rem 0;
}

.sun{
	width:300px;
}

.sun-section{
	background:transparent url("../img/mars-pano.jpg") no-repeat center top;
	background-size:cover;
}

.dipper{
	width:300px;
	opacity:0;
}

.js-dipper-fade{
/*Don't forget to put all the prefixes!! */
	-webkit-animation:dipper-fade 1s linear;
}

/*Don't forget to put all the prefixes!! */

@-webkit-keyframes dipper-fade{
	0%{
		opacity:0;
	}
	100%{
		opacity:1;
	}
}


